<input type="text" id="001" class="form-control" [(ngModel)]="myValue" (ngModelChange)="onChange($event)">
<div class="my-input-component">
    <h2>inner input component</h2>
    <div>inner value: {{myValue}}</div>
    <button (click)="changeMe()">change from inside</button>
</div>


<!--<div class="my-input-component">
        <h2>inner input component</h2>
        <div>inner value: {{myValue}}</div>
        <button (click)="changeMe()">change from inside</button>
        <button (click)="propagateInitial()">propagate initial</button>
        <button (click)="propagateSomethingValue()">propagate some value</button>
      </div>-->

<!--<input type="text" id="001" class="001" [(ngModel)]="model.value" (ngModelChange)="onChange($event)" >
<label for="001" class="">{{model.caption}}</label> -->

<!--<div class="md-form">
    <i class="{{edit.icon}}"></i>
    <input type="text" id="{{edit.name}}" class="form-control">
    <label for="{{edit.name}}" class="">{{edit.caption}}</label>
</div> -->