<div class="col-md-10 col-lg-10 mx-auto">
  <section class="section text-center">
    <h1 class="section-heading">{{ ui.title }}</h1>
    <p class="section-description">{{ ui.sotware }}</p>
    <div class="row">
      <div class="col-md-6 mb-r">
        <div class="view overlay hm-white-slight z-depth-2">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(81).jpg">
          <a>
            <div class="mask waves-effect waves-light"></div>
          </a>
        </div>
        <div class="card-body">
          <a href="" class="cyan-text">
            <h5><i class="fa fa-tree"></i> {{ ui.text.title }}</h5>
          </a>
          <p>{{ ui.text.info }}</p>
        </div>
      </div>
      <div class="col-md-6 mb-r">
        <div class="view overlay hm-white-slight z-depth-2">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(73).jpg">
          <a>
            <div class="mask waves-effect waves-light"></div>
          </a>
        </div>
        <div class="card-body">
          <a href="" class="deep-purple-text">
            <h5><i class="fa fa-ship"></i> {{ ui.text.title }}</h5>
          </a>
          <p>{{ ui.text.info }}</p>
        </div>
      </div>
    </div>
  </section>
</div>