<!--<div class="fixed-sn mdb-skin"> -->
<div class="hidden-sn mdb-skin">

	<header>
		<!--		<ul id="slide-out" class="side-nav fixed custom-scrollbar"> -->
		<ul id="slide-out" class="side-nav custom-scrollbar">

			<li>
				<div class="logo-wrapper sn-ad-avatar-wrapper">
					<i class="fa fa-user-circle fa-2x user-logo"></i>
					<div class="user">
						<div class="ellipsis">{{ userService.firstName }} {{ userService.lastName }}</div>
						<div class="ellipsis">{{ userService.email }}</div>
					</div>
				</div>
			</li>
			<li>

				<ul class="social">
					<li><a href="https://www.facebook.com/mdbootstrap" target="_blank" class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a></li>
					<li><a href="https://www.linkedin.com/in/michal-szymanski-9228918a" target="_blank" class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a></li>
					<li><a href="https://twitter.com/MDBootstrap" target="_blank" class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a></li>
					<li><a href="https://github.com/MDBootstrap" target="_blank" class="icons-sm tw-ic"><i class="fa fa-github"> </i></a></li>
					<li><a href="https://github.com/MDBootstrap" target="_blank" class="icons-sm tw-ic"><i class="fa fa-viadeo"> </i></a></li>

				</ul>

			</li>
			<li>

				<form class="search-form" role="search">
					<div class="form-group waves-light waves-effect waves-light">
						<input type="text" class="form-control" placeholder="{{ ui.search }}">
					</div>
				</form>

			</li>
			<li>
				<ul class="collapsible collapsible-accordion">
					<li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-chevron-right"></i> Home pages<i class="fa fa-angle-down rotate-icon"></i></a>
						<div class="collapsible-body">

							<ul>
								<li><a routerLink="about" class="waves-effect">{{ ui.about }}</a>
								</li>
								<li><a routerLink="login" class="waves-effect">{{ ui.logIn }}</a>
								</li>
								<li><a routerLink="contact" class="waves-effect">{{ ui.contact }}</a>
								</li>
								<li><a routerLink="dashboard" class="waves-effect">{{ ui.dashboard }}</a>
								</li>
								<li><a routerLink="support" class="waves-effect">{{ ui.support }}</a>
								</li>
								<li><a routerLink="home" class="waves-effect">{{ ui.home }}</a>
								</li>
							</ul>

						</div>
					</li>
					<li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-hand-pointer-o"></i> Specific<i class="fa fa-angle-down rotate-icon"></i></a>
						<div class="collapsible-body">
							<ul>
								<li><a routerLink="example" class="waves-effect">{{ ui.example }}</a>
								</li>
								<li><a routerLink="continents-list" class="waves-effect">Continents</a>
								</li>
							</ul>
						</div>
					</li>

				</ul>
			</li>
		</ul>
		<div class="sidenav-bg mask-strong"></div>
		<nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg unique-color scrolling-navbar double-nav">
			<div class="float-left">
				<a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
			</div>
			<div class="breadcrumb-dn">
				<a class="nav-link" [routerLink]="['']">Odusseus</a>
			</div>
			<ul class="nav navbar-nav nav-flex-icons ml-auto">
<!--				<li class="nav-item">
					<a class="nav-link"> <img class="img-fluid" src="{{image}}"></a>
				</li> -->
<!--				<li class="nav-item">
					<a class="nav-link" routerLink="languages"><i class="fa fa-language"></i> <span class="clearfix d-none d-sm-inline-block">{{ ui.language.name }}</span></a>
				</li> -->
				<li class="nav-item">
					<a class="nav-link" routerLink="dashboard"><i class="fa fa-rebel"></i> <span class="clearfix d-none d-sm-inline-block">{{ ui.dashboard }}</span></a>
				</li>
				<li *ngIf="userService.logged" class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ ui.profile }}</a>
					<div class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" routerLink="settings">{{ ui.account }}</a>
						<a class="dropdown-item" routerLink="contact">{{ ui.contact }}</a>
						<a class="dropdown-item" routerLink="support">{{ ui.support }}</a>
						<a class="dropdown-item" (click)="onLogOut()">{{ ui.logOut }}</a>
					</div>
				</li>
				<li *ngIf="!userService.logged" class="nav-item">
					<a class="nav-link" routerLink="login"><i class="fa fa-sign-in"></i> <span class="clearfix d-none d-sm-inline-block">{{ ui.logIn }}</span></a>
				</li>
			</ul>
		</nav>
	</header>

	<main>
		<div class="container-fluid">
			<!--			<div class="row">
				<div class="col-9 mb-1">
					<ol *ngIf="pageService.links.length > 0" class="breadcrumb">
						<ng-container *ngFor="let link of pageService.links">
							<li *ngIf="!link.active" class="breadcrumb-item" ngClass="{'active': link.active}"><a [routerLink]="link.url">{{link.title}}</a></li>
							<li *ngIf="link.active" class="breadcrumb-item active">{{link.title}}</li>
						</ng-container>
					</ol>
				</div>
				<div class="col-3 mb-1">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active">
							<span *ngIf="translated" class="badge badge-success">{{ language }}</span>
							<a *ngIf="userService.logged"><i class="fa fa-user fa-lg" style="color:#007E33;"></i></a>
							<span *ngIf="!translated" class="badge badge-danger">{{ language }}</span>
							<a *ngIf="!userService.logged"><i class="fa fa-user fa-lg" style="color:#CC0000;"></i></a>
						</li>
					</ol>
				</div>
			</div>-->
			<router-outlet></router-outlet>
		</div>
	</main>

</div>