        <section class="section feature-box">
          <h1 class="section-heading">OdusseusERP</h1>
          <p class="section-description lead">{{ ui.crm }}</p>
          <div class="row features-small">
            <div class="col-md-3">
              <div class="col-2 float-left">
                <i class="fa fa-bullhorn blue-text"></i>
              </div>
              <div class="col-10 float-right">
                <h4 class="feature-title">{{ ui.analytics.name }}</h4>
                <p class="grey-text">{{ ui.analytics.text }}</p>
                <a class="btn btn-primary" routerLink="example">{{ ui.learn }}</a>
                <div style="height:20px"></div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="col-2 float-left">
                <i class="fa fa-cogs green-text"></i>
              </div>
              <div class="col-10 float-right">
                <h4 class="feature-title">{{ ui.customization.name }}</h4>
                <p class="grey-text">{{ ui.customization.text }}</p>
                <a class="btn btn-default" routerLink="settings">{{ ui.learn }}</a>
                <div style="height:20px"></div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="col-2 float-left">
                <i class="fa fa-dashboard red-text"></i>
              </div>
              <div class="col-10 float-right">
                <h4 class="feature-title">{{ ui.support.name }}</h4>
                <p class="grey-text">{{ ui.support.text }}</p>
                <a class="btn btn-danger" routerLink="support">{{ ui.learn }}</a>
                <div style="height:20px"></div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="col-2 float-left">
                <i class="fa fa-dashboard green-text"></i>
              </div>
              <div class="col-10 float-right">
                <h4 class="feature-title">{{ ui.contact.name }}</h4>
                <p class="grey-text">{{ ui.contact.text }}</p>
                <a class="btn btn-warning" routerLink="contact">{{ ui.learn }}</a>
                <div style="height:20px"></div>
              </div>
            </div>
          </div>
        </section>
