                <!-- First row -->
                <div class="row">

                    <!-- Second column -->
                    <div class="col-md-8 offset-md-1 white z-depth-1 py-1">

                        <div class="row">
                            <div class="col-sm-6 col-md-9 py-1 px-1">
                                <h4 class="h4-responsive">{{ ui.title }}</h4>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="md-form">
                                    <input placeholder="{{ ui.search }}" type="text" id="form5" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                <fieldset class="form-group">
                                                    <input type="checkbox" id="checkbox0">
                                                    <label for="checkbox0"></label>
                                                </fieldset>
                                            </th>
                                            <th>{{ ui.name }}</th>
                                            <th>{{ ui.object }}</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">
                                                <fieldset class="form-group">
                                                    <input type="checkbox" id="checkbox1">
                                                    <label for="checkbox1"></label>
                                                </fieldset>
                                            </th>
                                            <td><div class="avatar-placeholder green darken-3">A</div> Abby Barret</td>
                                            <td>Can't create a modal</td>
                                            <td><span class="grey-text"><small><i class="fa fa-clock-o"></i> 5 min</small></span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <fieldset class="form-group">
                                                    <input type="checkbox" id="checkbox2">
                                                    <label for="checkbox2"></label>
                                                </fieldset>
                                            </th>
                                            <td><img src="http://mdbootstrap.com/wp-content/uploads/2015/10/avatar-1.jpg" alt="Danny Collins" class="avatar-32"> Danny Collins</td>
                                            <td>Profile changes won't save</td>
                                            <td><span class="grey-text"><small><i class="fa fa-clock-o"></i> 1 hour</small></span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <fieldset class="form-group">
                                                    <input type="checkbox" id="checkbox3">
                                                    <label for="checkbox3"></label>
                                                </fieldset>
                                            </th>
                                            <td><div class="avatar-placeholder red darken-2">C</div> Clara Ericson</td>
                                            <td>How to import my campaign from Business Manager?</td>
                                            <td><span class="grey-text"><small><i class="fa fa-clock-o"></i> 1 hour</small></span></td>
                                        </tr>
                                    </tbody>
                                </table>

                                
                            </div>
                        </div>

                    </div>
                    <!-- /.Second column -->

                </div>
                <!-- /.First row -->

