example
<!--<div class="example">
  <ul class="nav nav-tabs tabs-3 red" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab"> {{ ui.day }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#panel2" role="tab">  {{ ui.week }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#panel3" role="tab">  {{ ui.month }}</a>
    </li>
  </ul>
  <div class="tab-content card">
    <div class="tab-pane animated fadeIn active" id="panel1" role="tabpanel">
      <div class="row mt-2">
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-header danger-color-dark white-text text-center">
              Featured
            </div>
            <div class="card-body">
              <table class="table table-responsive">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <br>
          <hr>
          <br>
          <canvas id="myChart-1"></canvas>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-header danger-color-dark white-text text-center">
              Featured
            </div>
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <br>
          <hr>
          <br>
          <canvas id="myChart-2"></canvas>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-header danger-color-dark white-text text-center">
              Featured
            </div>
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <br>
          <hr>
          <br>
          <canvas id="myChart-3"></canvas>
        </div>
      </div>
    </div>
    <div class="tab-pane animated fadeIn" id="panel2" role="tabpanel">
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae
        placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae
        placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
    </div>
    <div class="tab-pane animated fadeIn" id="panel3" role="tabpanel">
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae
        placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
    </div>
  </div>
</div>-->