    td {
      max-width: 60px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .grid-search-input {
      display: inline-block;
      padding: 0;
      margin: 0;
    }

    .navbar-btn {
      padding: .5rem 1rem;
      color: rgba(0, 0, 0, 0.54) !important;
    }

    .grid-header {
      padding: .70rem;
      background-color: #FFF !important;
      width: 100%;
      display: block;
    }

    .grid-sm-row {
      margin: 15px 15px 0 0;
    }

    .grid-sm-col {
      padding: 0 0.5rem;
    }

    .table thead th {
      color: rgba(0, 0, 0, 0.54) !important;
    }

    .grid-col-header {
      color: rgba(0, 0, 0, 0.54) !important;
      font-size: x-small;
      padding-right: 10px;
    }

    .grid-col-data {
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    @media (max-width: 575px) {
      .grid-title {
        margin-top: 0.1rem;
        font-size: 1rem;
      }
    }

    .table {
      margin-bottom: 0px;
    }

    .pagination {
      margin: 0.5rem;
    }

    .page-item {
      display: inline-block;
    }

    .select-wrapper input.select-dropdown {
      margin: 0px;
    }

    .grid-selector {
      max-width: 90px;
    }

    .profil {
      padding: 1rem 0px;
      text-align: center;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      border: 1px solid rgba(0, 0, 0, .2);
    }

    [type="radio"]:checked+label,
    [type="radio"]:not(:checked)+label,
    [type="checkbox"]+label {
      padding-left: 0px;
      margin-left: 3px;
    }

    .table a {
      margin-left: 0px;
    }

    .page-item.active .page-link {
      background-color: #01579b;
    }

    input[type="text"]::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #01579b;
    }

    input[type="text"]::-moz-placeholder {
      /* Firefox 19+ */
      color: #01579b;
    }

    input[type="text"]:-ms-input-placeholder {
      /* IE 10+ */
      color: #01579b;
    }

    input[type="text"]:-moz-placeholder {
      /* Firefox 18- */
      color: #01579b;
    }

    .grid-search-input {
      width: calc(100% - 40px) !important;
    }


.progress-none {
  box-shadow: none;
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  overflow: hidden;
  margin-bottom: 1rem;
  background-color: white; }


    .card-block {
      padding: 0.0rem;
    }

    .card-block .card-spinner {
      padding: 0.0rem 0.0rem;
      max-height: 1px;
      min-height: 1px;
      margin-bottom: 0;
    }
