<div class="card mb-4">
  <div class="card-body pt-1 ml-2">

    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <form class="form-inline">
          <a class="navbar-btn waves-effect waves-light">
            <i (click)="onPrevious()" class="fa fa-arrow-left fa-lg"></i>
          </a>
          <input #selectedField (keydown)="onHandleKeyDown($event)" name="searchField" [(ngModel)]="searchField" class="form-control ml-3 my-0 py-0"
            placeholder="{{ui.placeholder}}" style="max-width: 150px;" type="text">
          <button class="btn btn-sm btn-primary ml-2 px-1 waves-effect waves-light" (click)="onSearch()"><i class="fa fa-search"></i>  </button>
        </form>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1">
        <div *ngIf="loading" class="progress primary-color-dark" style="margin-top:30px;">
          <div class="indeterminate"></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 disabled clearfix d-none d-md-block">
        <div *ngIf="!loading">
          <h6><b><span style="color:black;">{{resultsCounter}} </span></b><span style="color: #e0e0e0;">{{resultsDuration}}</span></h6>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <button data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter" style="margin-top:10px;"
          class="btn btn-sm btn-primary">{{ui.filter}} <i class="fa fa-chevron-down ml-1"></i></button>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
      </div>
    </div>
    <div class="row collapse" id="collapseFilter">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card mb-2">
          <div class="card-body">
            <a class="activator"><i class="fa fa-info-circle"></i></a>
            <div class="row">
              <div class="col-md-1">
              </div>
              <div class="col-md-3">
                <span class="badge badge-primary">Displayed options</span>
                <div class="form-group">
                </div>
                <div class="form-group">
                  <input type="checkbox" id="numberDisplayed" checked [(ngModel)]="numberDisplayed">
                  <label for="numberDisplayed">Number</label>
                </div>
                <div class="form-group">
                  <input type="checkbox" id="positionDisplayed" checked [(ngModel)]="positionDisplayed">
                  <label for="positionDisplayed">Position</label>
                </div>
                <div class="form-group">
                  <input type="checkbox" id="paginationDisplayed" checked [(ngModel)]="paginationDisplayed">
                  <label for="paginationDisplayed">Pagination at top</label>
                </div>
              </div>
              <div class="col-md-3">
              </div>
              <div class="col-md-2">
                <span class="badge badge-primary">Rows Number</span>
                <select-si [(ngModel)]="selectedRow" name="row" class="mdb-select colorful-select dropdown-primary" [model]="selectModelRow"
                  (change)="onChangeSelectRow($event)"></select-si>
              </div>
              <div class="col-md-1">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!resultsFound" class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <span class="badge badge-info ml-3">Info</span>
            </div>
            <div class="row">
              <h6><b><span style="color:black;">{{resultsWarning}} </span></b></h6>
            </div>
            <div class="row">
              <h6><b><span style="color:grey;">{{resultsSearchField}} </span></b></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="resultsFound && paginationDisplayed" class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <nav class="my-1">
          <ul *ngIf="pagination.pages && pagination.pages.length" class="pagination pagination-circle pagination-sm pg-primary">
            <li *ngIf="pageBrowser" class="page-item" [ngClass]="{disabled:pagination.currentPage === 1}">
              <a class="page-link" aria-label="First" (click)="setPage(1,pagination.perPage)">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
            </li>
            <li *ngIf="pageBrowser" class="page-item" [ngClass]="{disabled:pagination.currentPage === 1}">
              <a class="page-link" aria-label="Previous" (click)="setPage(pagination.currentPage - 1,pagination.perPage)">
                          <span aria-hidden="true">&lsaquo;</span>
                        </a>
            </li>
            <li class="page-item" *ngFor="let page of pagination.pages" [ngClass]="{active:pagination.currentPage === page}">
              <a class="page-link" (click)="setPage(page,pagination.perPage)">{{page}}</a>
            </li>
            <li *ngIf="pageBrowser" class="page-item" [ngClass]="{disabled:pagination.currentPage === pagination.totalPages}">
              <a class="page-link" aria-label="Next" (click)="setPage(pagination.currentPage + 1,pagination.perPage)">
                          <span aria-hidden="true">&rsaquo;</span>
                        </a>
            </li>
            <li *ngIf="pageBrowser" class="page-item" [ngClass]="{disabled:pagination.currentPage === pagination.totalPages}">
              <a class="page-link" aria-label="Last" (click)="setPage(pagination.totalPages,pagination.perPage)">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div *ngIf="resultsFound" class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 pt-2">
        <table class="table table-responsive table-striped table-bordered table-hover mb-0 table-sm">
          <thead>
            <tr>
              <th *ngIf="numberDisplayed">{{ui.number}}</th>
              <th *ngIf="positionDisplayed">{{ui.position}}</th>
              <th>{{ui.id}}</th>
              <th>{{ui.name}}<i class="fa fa-long-arrow-up ml-1"></i><i class="fa fa-long-arrow-down ml-1"></i></th>
              <th>{{ui.code}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of pagedItems; let i=index" (click)="onSelectItem(item,i)">
              <td *ngIf="numberDisplayed" style="cursor: pointer;">{{ i + 1}}</td>
              <td *ngIf="positionDisplayed" style="cursor: pointer;">{{ i + 1 + (pagination.currentPage - 1) * pagination.perPage }}</td>
              <td style="cursor: pointer;">{{item.id}}</td>
              <td style="cursor: pointer;">{{item.name}}</td>
              <td style="cursor: pointer;">{{item.code}}</td>
            </tr>
            <tr>
              <th *ngIf="numberDisplayed">{{ui.number}}</th>
              <th *ngIf="positionDisplayed">{{ui.position}}</th>
              <th>{{ui.id}}</th>
              <th>{{ui.name}}</th>
              <th>{{ui.code}}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <nav class="pt-4">
          <ul *ngIf="pagination.pages && pagination.pages.length" class="pagination pagination-circle pagination-sm pg-primary">
            <li *ngIf="pageBrowser" class="page-item" [ngClass]="{disabled:pagination.currentPage === 1}">
              <a class="page-link" aria-label="First" (click)="setPage(1,pagination.perPage)">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
            </li>
            <li *ngIf="pageBrowser" class="page-item" [ngClass]="{disabled:pagination.currentPage === 1}">
              <a class="page-link" aria-label="Previous" (click)="setPage(pagination.currentPage - 1,pagination.perPage)">
                          <span aria-hidden="true">&lsaquo;</span>
                        </a>
            </li>
            <li class="page-item" *ngFor="let page of pagination.pages" [ngClass]="{active:pagination.currentPage === page}">
              <a class="page-link" (click)="setPage(page,pagination.perPage)">{{page}}</a>
            </li>
            <li *ngIf="pageBrowser" class="page-item" [ngClass]="{disabled:pagination.currentPage === pagination.totalPages}">
              <a class="page-link" aria-label="Next" (click)="setPage(pagination.currentPage + 1,pagination.perPage)">
                          <span aria-hidden="true">&rsaquo;</span>
                        </a>
            </li>
            <li *ngIf="pageBrowser" class="page-item" [ngClass]="{disabled:pagination.currentPage === pagination.totalPages}">
              <a class="page-link" aria-label="Last" (click)="setPage(pagination.totalPages,pagination.perPage)">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

  </div>
</div>