<button type="button"  (click)="vote(true)" class="{{edit.type}}">{{edit.caption}}</button>
<button type="button" (click)="vote(false)" class="{{edit.type}}">{{edit.caption}}</button>
<!--<button type="button" class="{{ model.type }}">{{ model.caption }}</button>
<button type="button" class="btn btn-primary" (click)="onclickButtonInterne()">button interne</button> -->
<!--<input  #input type="text" class="form-control" name="{{name}}" id="{{name}}" [(ngModel)]="inputValue">
<label for="{{name}}" class="">label {{name}}</label> -->

<!--<div class="form-group">
        <label><ng-content></ng-content>
            <input [(ngModel)]="value"  
                    class="form-control" 
                    (blur)="onBlur()" >
        </label>
    </div> -->
