<div class="row">

  <div class="col-md-3">
    <div class="row">
      <div class="col-md-12 mb-1">
        <div class="card card-cascade cascading-admin-card" (click)="onUpdate(1)">
          <div class="admin-up">
            <i class="fa fa-money blue darken-3"></i>
            <div class="data">
              <h4>Files</h4>
            </div>
          </div>
          <div class="card-body">
            <progress class="progress progress-success" value="25" max="100">25%</progress>
            <p class="card-text">per year</p>
          </div>
        </div>
      </div>
      <div class="col-md-12 mb-1">
        <div class="card card-cascade cascading-admin-card" (click)="onUpdate(2)">
          <div class="admin-up">
            <i class="fa fa-line-chart deep-purple darken-4"></i>
            <div class="data">
              <h4>Files</h4>
            </div>
          </div>
          <div class="card-body">
            <progress class="progress progress-danger" value="25" max="100">25%</progress>
            <p class="card-text">per year/activity</p>
          </div>
        </div>
      </div>
      <div class="col-md-12 mb-1">
        <div class="card card-cascade cascading-admin-card" (click)="onUpdate(3)">
          <div class="admin-up">
            <i class="fa fa-line-chart deep-purple darken-4"></i>
            <div class="data">
              <h4>Revenues</h4>
            </div>
          </div>
          <div class="card-body">
            <progress class="progress progress-danger" value="25" max="100">25%</progress>
            <p class="card-text">per year</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12 mb-1">
        <div class="card">
          <div class="card-body">
<!--            <h4 class="card-title">Statistiques</h4>
            <button type="button" class="btn btn-primary" (click)="onUpdate()">update</button> -->
            <div class="row">
              <div class="col-md-12 mb-1">
                <chart [options]="options"></chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>